moviepy
streamlit
edge_tts==6.1.7
fastapi
uvicorn
openai
faster-whisper
loguru
google.generativeai
dashscope
g4f
azure-cognitiveservices-speech
redis
python-multipart
pydantic
pyyaml
requests
psutil
httpx
tenacity
python-dotenv
websockets
PyJWT
